    @font-face {
      font-family: 'DungGeunMo';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    body{
    /* overflow: hidden; */
    background-color: #189cf4;
    font-family: 'DungGeunMo';
      
    }
    button,input{
      font-family: 'DungGeunMo';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
  @keyframes float_img {
    0% {
        transform: translate(0)
    }
  
    65% {
        transform: translateY(30px)
    }
  
    to {
        transform: translate(0)
    }
  }
  
  
